body {
	margin: 0px !important;
	font-size: 0.8em !important;
}

/* -------------- Pannelgrid container --------------*/
.newTableContainer 

/* -------------- New Pannelgrid Style --------------*/
.newStyleListingTable 

/* -------------- New DataTable Style --------------*/
.newStyleDataTable 



/* -------------- breadCrumbs navigation --------------*/
/* navigation background */
.breadCrumbsNavigation {
	width: 100%;
	border: 1px solid #d3d3d3;
	border-left: 0px;
	border-right: 0px;
	background: #e6e6e6
		url("/Histo16/javax.faces.resource/images/ui-bg_glass_75_e6e6e6_1x400.png.xhtml?ln=primefaces-smoothness")
		50% 50% repeat-x;
}

/* navigation hight*/
.breadCrumbsNavigation td {
	padding-left: 5px !important;
	height: 19px !important;
}

/* remove underline from navigation*/
.breadCrumbsNavigation a:-webkit-any-link {
	text-decoration: none !important;
}

/* naigation text*/
.breadCrumbsNavigation td, .breadCrumbsNavigation label,
	.breadCrumbsNavigation a {
	font-size: 1.1em !important;
	font-family: Verdana, Arial, sans-serif;
	color: #555555;
	font-weight: bold;
}

/* -------------- patient navigation table --------------*/
/* Search container */
.patientNavigationHeader {
	width: 100%;
	border-top: 1px solid #d3d3d3 !important;
	border-bottom: 1px solid #d3d3d3 !important;
	border-right: 1px solid #d3d3d3 !important;
	text-align: left;
	background: #e6e6e6
		url("/Histo16/javax.faces.resource/images/ui-bg_glass_75_e6e6e6_1x400.png.xhtml?ln=primefaces-smoothness")
		50% 50% repeat-x;
}

/* header tds */
.patientNavigationHeader>tbody>tr>td {
	height: 19px !important;
	color: #555555;
	font-family: Arial, "Trebuchet MS", Verdana, sans-serif !important;
	padding-left: 5px;
	font-size: 1.1em !important;
	font-weight: bold;
}

.patientNavigationHeader .buttonContainer {
	margin-right: 10px;
	float: right;
}

.patientNavigationHeader .buttonContainer a {
	text-decoration: none !important;
	color: #555555;
}

.patientNavigationTable .ui-datatable-tablewrapper>table>thead {
	display: none;
}

.patientNavigationTable .ui-datatable-tablewrapper>table>tbody,
	.patientNavigationTable .ui-datatable-tablewrapper>table>tbody>tr {
	border-left: none;
	border-right: none;
}

.patientNavigationTable .ui-datatable-tablewrapper>table>tbody {
	border-top: none;
}

.patientNavigationTable .ui-datatable-tablewrapper>table>tbody>tr:first-of-type,
	.patientNavigationTable .ui-datatable-tablewrapper>table>tbody>tr:first-of-type>td
	{
	border-top: none;
}

.patientNavigationTable .ui-datatable-tablewrapper>table>tbody>tr>td {
	padding: 0px !important;
	border-left: none;
	border-right: none;
}

/* change background on mouse over*/
.patientNavigationTable .ui-state-hover {
	background: #e6e6e6 !important;
}

.patientNavigationTable .ui-state-highlight {
	background: #fcf1b8 !important;
}


/* scrollpanel style */
.histoScroll {
	height: calc(100vh - 64px);
	width: calc(100% - 1px) !important;
	border-left: none !important;
	border-top: none !important;
	border-bottom: none !important;
	border-spacing: 0px !important;
	border-left: none !important;
}

/* scrollpanel body with*/
.histoScroll .ui-scrollpanel-content, .histoScroll .ui-scrollpanel-container
	{
	width: calc(100% - 1px) !important;
}

/*scrollpanel bar*/
.histoScroll .ui-scrollpanel-vbar {
	width: 5px;
}

/* background of the bar*/
.histoScroll .ui-scrollpanel-track {
	background: none;
}

/* background of the bars drag*/
.histoScroll .ui-scrollpanel-track .ui-scrollpanel-drag {
	background: #555555;
	border-radius: 5px;
}






























.numberFixForSpinner .ui-spinner-input {
	padding-right: 25px !important;
}

.lableLineBreak {
	white-space: pre-wrap;
}

/* Spinner for one number*/
.oneNumberSpinner {
	padding-left: 0px !important;
	padding-right: 15px !important;
}

.oneNumberSpinner input {
	width: 10px !important;
	padding-left: 0px !important;
}

/* SelctCheckbox Menu on top of the component */
.selectCheckboxMenuOnTop {
	bottom: 35px !important;
	top: auto !important;
}

/* Padding for overlay pannel in views */
.histoOverlayPanel>div {
	padding: 4px !important;
}

/* ---------------- Fonts ------------ */
.standardFont, .standardFont label {
	padding: 4px;
	font-size: 12px;
	font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
	box-shadow: none;
	font-style: normal;
	font-variant: normal;
}

.bigFont, .bigFont label {
	font-size: 1.1em !important;
	font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
	box-shadow: none !important;;
	font-style: normal !important;;
	font-variant: normal !important;;
	font-weight: bold !important;;
	color: #555555;
}

.hugeFont, .hugeFont label {
	font-size: 1.5em !important;
	font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
	box-shadow: none;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	color: #555555;
}

.icon-green, .icon-green:link, .icon-green:active, .icon-green:hover,
	.icon-green:visited {
	color: green;
}

.icon-blue, .icon-blue:link, .icon-blue:active, .icon-blue:hover,
	.icon-blue:visited {
	color: blue;
}

.icon-purple, .icon-purple:link, .icon-purple:active, .icon-purple:hover,
	.icon-purple:visited {
	color: purple;
}

.icon-orange, .icon-orange:link, .icon-orange:active, .icon-orange:hover,
	.icon-orange:visited {
	color: orange;
}

.icon-grey, .icon-grey:link, .icon-grey:active, .icon-grey:hover,
	.icon-grey:visited {
	color: #555555;
}

.icon-red, .icon-red:link, .icon-red:active, .icon-red:hover, .icon-red:visited
	{
	color: red;
}

